{{ define "content" }}
<div id="countdown" class="value pre"></div>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/duration.js" crossorigin="anonymous"></script>
<script>
	dayjs.extend(window.dayjs_plugin_duration);

	const date = dayjs(_.to);

	const $countdown = document.getElementById("countdown");

	function formatUnit(value, unit) {
		if (value === 0) return "";

		return `${value} ${unit}${value !== 1 ? "s" : ""}`;
	}

	function tick() {
		const now = dayjs();

		if (now.isAfter(date)) {
			$countdown.innerText = `${_.event} has arrived!`;

			return;
		}

		const duration = dayjs.duration(date.diff(now));

		let output = "";

		const years = duration.years(),
			months = duration.months(),
			days = duration.days(),
			hours = duration.hours(),
			minutes = duration.minutes(),
			seconds = duration.seconds();

		if (years > 0) {
			output = `${formatUnit(years, "year")} ${formatUnit(months, "month")}`;
		} else if (months > 0) {
			output = `${formatUnit(months, "month")} ${formatUnit(days, "day")}`;
		} else if (days > 0) {
			output = `${formatUnit(days, "day")} ${formatUnit(hours, "hour")}`;
		} else if (hours > 0) {
			output = `${formatUnit(hours, "hour")} ${formatUnit(minutes, "minute")}`;
		} else if (minutes > 0) {
			output = `${formatUnit(minutes, "minute")} ${formatUnit(seconds, "second")}`;
		} else {
			output = formatUnit(seconds, "second");
		}

		$countdown.textContent = `${_.event} in: ${output.trim()}`;
	}
</script>
{{ end }}